body {
    background-color: orangered;
    color: white;
    margin: 0;
    font-family: rubik;
}

.pokedex-content {
    padding: 40px;
    margin: 0 auto;
}
.btn{
    color: aliceblue;
    font-family: monospace;
    border-radius: 30px;
    background-color: darkmagenta;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card { border-radius:35%;
    list-style: none;
    padding: 40px;
    background-color: maroon;
    color: #222;
  text-align: center;
}


.card:hover {
    animation: bounce 0.7s linear;
   
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    border-radius: 30px;
    
    margin-top: 5px;
    color: goldenrod;
    font-weight: lighter;
    font-family: fantasy;
}

.card-image {
    height: 180px;
}

.open-button2{
    color: aliceblue;
    font-family: monospace;
    border-radius: 30px;
    background-color: darkmagenta;
}
.open-button{
    border-radius: 25px;
    background-color: darkolivegreen;
}

#modal{
    text-align: center;
    border: solid;
    border-radius: 20px ;
    background-color: purple;
}
#modal::backdrop{
    background-color: darkgreen;
    
    opacity: .5;
}
@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
